<template>
<q-page>

    <!---------------------------- Section 1 -------------------------------->
    
    <div class="row flex-center q-pt-xl bg-indigo-1">

      <q-img
          src="/img/location.svg"
          spinner-color="primary"
          style="max-width: 550px; max-height:550px;"
      />
    </div>

    <!---------------------------- Section 2 -------------------------------->

    <div class="row flex-center q-mt-xl q-mb-xl q-mx-sm">

    

    <q-card class="my-card bg-color">

    <q-card-section>
    <div class="text-h4 text-center">Consulta</div>
    <div class="text-h6 text-center">CENTRO MÉDICO BELGRANO</div>
    </q-card-section>

    <q-card-section>
      <div class="row justify-center"><q-icon name="location_on" size="2rem"/></div>
      <div class="text-h5 text-center">Dirección</div>
      <div class="text-body1 text-center">Belgrano 359.</div>
      <div class="text-body1 text-center text-bold">Provincia de Entre Ríos</div>
      <div class="text-body2 text-center">Ciudad de Paraná</div>
    </q-card-section>

    <q-card-section>
      <div class="row justify-center"><q-icon name="phone" size="2rem"/></div>
      <div class="text-h5 text-center">Teléfonos:</div>
      <div class="text-body1 text-center">0343-4314144 --- 0343-4314434 </div>
    </q-card-section>
 
    </q-card>
    
    </div>



    <div class="row flex-center q-mt-xl q-mb-xl q-px-sm">
      
      <iframe src="https://www.google.com/maps/d/u/2/embed?mid=13yHkj0Ff0Jd3UuM0kyrSq_2x-jFv9SB7&ehbc=2E312F" 
        width="740" 
        height="480"
      ></iframe>
    
    </div>

        
</q-page>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'Contacto'
})
</script>

<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 550px

.bg-color
  background-color: #C3CCDC
  &:hover
    background-color: #D2D8E5
</style>