<template>
<q-page>
    
    <!---------------------------- Section 1 -------------------------------->
    
    <div class="row justify-center bg-indigo-1">
    <q-img
        src="/img/graduation-animate.svg"
        alt="Animación ilustración graduación "
        spinner-color="primary"
        style="max-width: 550px; max-height:550px;"
    />
    </div>

    <!---------------------------- Section 2 -------------------------------->

    <div class="row flex-center q-mt-xl q-mb-xl q-mx-sm">
      <q-card class="my-card bg-color">
        <q-img
        src="img/Facultad_Medicina_Rosario.jpg"
        alt="Facultad Medicina de Rosario"
        spinner-color="primary"
        />
        <q-card-section>
          <div class="text-h4 text-center">Médico</div>
          <div class="text-subtitle1 text-center">Facultad de Ciencias Médicas</div>
          <div class="text-h6 text-center">Universidad Nacional de Rosario</div>
          <div class="text-subtitle1 text-center text-bold">Santa Fe</div>
        </q-card-section>
      </q-card>
    </div>

    <div class="row flex-center q-mt-xl q-mb-xl q-mx-sm">
      <q-card class="my-card bg-color">
        <q-img
        src="img/hospital-san-felipe.jpg"
        alt="Hospital San Felipe"
        spinner-color="primary"
        />
        <q-card-section>
          <div class="text-h4 text-center q-mb-sm">Especialista en Medicina General</div>

          <div class="text-h6 text-center">Residencia completa de Medicina General</div>
          <div class="text-subtitle1 text-center">Hospital San Felipe, San Nicolas.</div>
          <div class="text-subtitle1 text-center text-bold">Buenos Aires</div>
          <div class="text-body1 text-center">Ministerio de Salud. Secretaría de Políticas y 
          Regulación Sanitaria. Subsecretaría de Políticas y Fiscalización.
          Dirección de Registro, Fiscalización y Sanidad de Fronteras.</div>
          <div class="text-subtitle1 text-center text-bold">República Argentina</div>
          <div class="text-body1 text-center">Secretaría de Salud. Ministerio de Salud y Acción Social.</div>
          <div class="text-subtitle1 text-center text-bold">Entre Ríos</div>
        </q-card-section>
      </q-card>
    </div>

    <div class="row flex-center q-mt-xl q-mb-xl q-mx-sm">
      <q-card class="my-card bg-color">
        <q-img
        src="img/HospitalCullen.jpeg"
        alt="Hospital Cullen"
        spinner-color="primary"
        />
        <q-card-section>
          <div class="text-h4 text-center q-mb-sm">Especialista en Dermatología</div>

          <div class="text-h6 text-center">Concurrencia completa Dermatología</div>
          <div class="text-subtitle1 text-center">Hospital José María Cullen</div>
          <div class="text-subtitle1 text-center text-bold">Santa Fe</div>
          <div class="text-body1 text-center">Colegio de Medicos 1era Circunscripción</div>
          <div class="text-subtitle1 text-center text-bold">Santa Fe</div>
          <div class="text-body1 text-center">Secretaría de Salud. Ministerio de Salud y Acción Social.</div>
          <div class="text-subtitle1 text-center text-bold">Entre Ríos</div>
        </q-card-section>
      </q-card>
    </div>
    
</q-page>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'Curriculum'
})
</script>

<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 550px

.bg-color
  background-color: #C3CCDC
  &:hover
    background-color: #D2D8E5
</style>