<template>
  <q-page>

  <!-------------------------------   Carousel     --------------------------->
    <q-carousel
      arrows
      animated
      infinite
      autoplay
      v-model="slide"
      height="500px"
    >
      <q-carousel-slide name="first" img-src="img/carrousel/piel-pelos1.jpg">
        <div class="absolute-bottom custom-caption">

          <div class="text-h4">Dermatología</div>
          <div class="text-subtitle1">Enfermedad de Piel, Pelos y Uñas</div>
        </div>
      </q-carousel-slide>
      <q-carousel-slide name="second" img-src="img/carrousel/dermoscopy.jpg">
        <div class="absolute-bottom custom-caption">
          <div class="text-h4">Microscopia cutánea</div>
          <div class="text-subtitle1">La tecnología digital a tu servicio</div>
        </div>
      </q-carousel-slide>
      <q-carousel-slide name="third" img-src="img/carrousel/dermatitis.jpg">
        <div class="absolute-bottom custom-caption">
          <div class="text-h4">Cuida Tu Piel</div>
          <div class="text-subtitle1">Consultá por consejos para mantenerla saludable</div>
        </div>
      </q-carousel-slide>
    </q-carousel>

    <!---------------------      Section 1   --------------------------------------->

    <div class="row q-mt-lg">
      <div class="col-12 col-md-6 flex flex-center">

      <q-card class="my-card q-mx-sm bg-color">
        <q-card-section>
          <div class="text-h4 text-center text-italic">¿Que es la Dermatología?</div>
          <div class="text-h5 text-center text-bold">Especialidad Médica</div>
        </q-card-section>
        
        <q-card-section>
        <div class="text-body1">La Dermatología, es la ciencia que se dedica al diagnóstico y al tratamiento
          de las enfermedades de la piel, el pelo y las uñas.</div>
          <div class="text-body1">Es la rama de la Medicina que estudia la estructura y funciones de la piel y sus anexos, asi
          como el diagnostico de enfermedades y síndromes, les ofrece tratamiento y seguimiento a través de
          diversos métodos, que incluyen a medicamentos tópicos y sistémicos, cirugía, inmunoterapia, fototerapia,
          radioterapia y terapia fotodinámica.</div>
        </q-card-section>
      </q-card>
      </div>
      

      <div class="col-12 col-md-6">
        <q-img
        src="/img/dermatologists.png"
        alt="Ilustración sobre Dermatologo"
        spinner-color="primary"
         />
      </div>
    
    </div>

    <!------------------------ Section 2 ------------------------------------------->

    <div class="row q-mt-lg q-mb-lg">
      <div class="col-12 col-md-6 q-pa-xl">
        <q-img
        src="/img/anatomia-piel.jpg"
        class="border-radius-8"
        alt="Diagrama de la piel"
        spinner-color="primary"
         />
        <!--https://commons.wikimedia.org/wiki/File:3D_medical_animation_skin_layers.jpg--> 
      </div>

      <div class="col-12 col-md-6 flex flex-center">
        <q-card class="my-card q-mx-sm bg-color">
          <q-card-section>
          <div class="text-h4 text-center text-italic">Anatomía de la Piel</div>
          <div class="text-h5 text-center text-bold">¿Qué capas la componen?</div>
        </q-card-section>

        <q-card-section>
          <div class="text-body1"> La piel es el órgano más grande del cuerpo y lo cubre en toda su superficie externa.</div>
          <div class="text-body1">Está formado por tres capas, la 
          <span class="text-bold">epidermis</span>, la 
          <span class="text-bold">dermis</span> y la 
          <span class="text-bold">hipodermis</span>, las cuales varían significativamente en
          su anatomía y función.</div>
          <div class="text-body1">La estructura de la piel se compone de una intrincada red que sirve como barrera
          inicial del cuerpo contra los gérmenes patógenos, la luz UV, los productos químicos y
          las lesiones mecánicas o traumáticas.</div>
          <div class="text-body1">También regula la temperatura y la cantidad de agua liberada por medio del sudor.</div>
        </q-card-section>
        
        </q-card>
      </div>
    
    </div>

    <!-------------------------Section 3 ----------------------------------->
    <q-banner class="bg-grey-3 q-mt-lg q-py-lg">
      <div class="text-h5 text-center text-weight-medium q-mb-lg q-mt-lg">
        Estilo de Vida Saludable
      </div>

      <div class="text-body1 q-py-lg text-center max-width-800 center">
        Enfoque basado en evidencia que busca prevenir, tratar e incluso revertir enfermedades
        reemplazando conductas no saludables por saludables; tales como alimentarse de forma correcta,
        estar físicamente activo, aliviar el estrés, evitar el abuso de sustancias peligrosas,
        dormir adecuadamente y tener un sólido sistema de apoyo emocional.
      </div>
      
    </q-banner>

    <div class="row q-mt-md q-mb-lg q-pa-sm">
      <q-parallax :height="350" :speed="0.1">
      <template v-slot:media>
        <video width="720" height="440" autoplay loop muted>
          <source type="video/mp4" src="video/vegetables1.mp4">
        </video>
      </template>
      </q-parallax>
    </div>

    <!-- Bloque comentado hasta rehacer la pagina MEV-2024 -->
    <!-- <div class="row justify-center q-mb-xl">
      <q-btn color="secondary" label="Aprendé Mas" size="lg"
      href="https://medicina-estilo-vida.vercel.app/" target="_blank"
       />
    </div> -->

  </q-page>
</template>

<script>
import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'IndexPage',
  setup () {
    return {
      slide: ref('first')
    }
  }
})
</script>

<style lang="sass" scoped>
.custom-caption
  text-align: center
  padding: 12px
  color: white
  background-color: rgba(0, 0, 0, .5)

.my-card
  width: 100%
  max-width: 750px

.bg-color
  background-color: #C3CCDC
  &:hover
    background-color: #D2D8E5

.max-width-800
  max-width: 800px

.border-radius-8
  border-radius: 8%    
  
.center 
  margin: 0 auto
</style>
