<template>
  <q-page>
    <!-------------------- Section 1 -------------------------->

    <div class="row justify-center q-pt-xl bg-indigo-1">
      <q-img
        src="/img/info-piel.svg"
        alt="Animación médico en escritorio"
        spinner-color="primary"
        style="max-width: 550px; max-height:550px;"
      />
    </div>

    <!------------------------ Section 2 ------------------------------------->

    <div class="q-mt-xl">
      <div class="text-h4 text-center text-bold">Guía de la Piel</div>
      <div class="text-h6 text-center">
        Investigación objetiva basada en evidencias científicas
      </div>
    </div>

    <div class="row q-mt-xl q-mb-xl">
      <div class="col-12 col-md-6 flex justify-center q-pa-sm">
        <q-card class="my-card bg-color flex flex-center">
          <q-card-section class="text-body1">
            <div>
              La dermatología es una especialidad médica que se basa mucho en la
              clínica, en la observación e interpretación de los síntomas y
              signos para un diagnóstico acertado.
            </div>
            <div>
              Los estudios complementarios son de gran importancia y nos ayudan
              a realizar una evaluación de los procesos salud enfermedad, a
              confirmar presunciones y acompañar en el seguimiento.
            </div>
            <div>
              La cirugía dermatológica es una gran aliada sobre todo en
              patología tumoral.
            </div>
          </q-card-section>
        </q-card>

        <q-card class="my-card bg-color q-mt-sm flex flex-center">
          <q-card-section class="text-body1">
            <div>
              Existen más de 2500 diagnósticos posibles en esta rama de la
              medicina.
            </div>
            <div>
              Existen una gran variedad de problemas de la piel. Se intentará
              transmitir información de aspectos relacionados con la piel normal
              y algunas patologías frecuentes; así también algunos consejos y
              recomendaciones generales.
            </div>
          </q-card-section>
        </q-card>
      </div>

      <div class="col-12 col-md-6 flex flex-center q-pa-sm">
        <q-img
          src="img/skin-colors.jpg"
          alt="Fotografía macro de 2 personas"
          spinner-color="primary"
          class="max-width-700 rounded-borders"
        />
      </div>
    </div>

    <!------------------------ Section 3 ------------------------------------->

    <div class="bg-indigo-2">
      <div class="text-h4 text-center text-bold q-py-xl">Cuida Tu Piel</div>
    </div>

    <!------------------------ Section 4 ------------------------------------->

    <div class="row q-mt-lg">
      <div class="col-12 col-md-6 q-pa-md">
        <div class="text-h6 text-bold text-center">Piel Normal</div>
        
        <div class="flex flex-center q-mt-lg">
        <q-card class="q-pa-md my-card bg-color text-body1">
        <div>
          La piel es el órgano más extenso de nuestro cuerpo, asi como también,
          el más pesado; en un adulto la piel pesa entre 4 a 5 kilogramos.
        </div>
        <div>
          En estos párrafos me gustaría dar una idea de lo que la piel hace por
          nosotros, con la esperanza de que esto motive a cuidarla con el
          respeto que se merece.
        </div>
        <div>
          Conociendo y analizando la normalidad nos permite sospechar cuando
          algo no está bien.
        </div>
        <div>
          La principal función del tegumento es la de barrera. Mantiene el
          interior dentro y el exterior fuera. No hace individuos. Además nos
          protege de las agresiones externas (noxas físicas, químicas,
          microorganismos), participa en el sistema inmunológico, sintetiza
          vitamina D y citoquinas, regula la temperatura corporal, es un órgano
          sensitivo muy extenso entre otras funciones.
        </div>

        </q-card>
        </div>

        
      </div>

      <div class="col-12 col-md-6 q-pa-md q-mb-xl">
        <div class="text-h6 text-bold text-center">Funciones de la piel</div>

        <q-list bordered class="rounded-borders q-mt-lg">
          <q-expansion-item
            expand-separator
            icon="water_drop"
            label="Pérdida de Agua"
            header-class="text-blue text-bold"
          >
            <q-card class="bg-blue-1">
              <q-card-section>
                El estrato córneo con sus capas de células intercaladas con lípidos
                intercelulares previene la pérdida de agua transepidérmica.
              </q-card-section>
            </q-card>
          </q-expansion-item>

          <q-expansion-item
            expand-separator
            icon="grain"
            label="Defensa Inmunológica"
            header-class="text-pink text-bold"
          >
            <q-card class="bg-pink-1">
              <q-card-section>
                <div>Integridad estructural del estrato córneo. Los queratinocitos producen péptidos antimicrobianos (PAM)
                incluyendo defensinas, catelicidinas y miembros de la familia
                granina, ej. catestatina.</div>
                <div>La célula de Langerhans captura antígenos para luego migrar
                al nodo linfático donde el mismo es presentado a la célula linfocito T.</div>
                <div>Las citoquinas secretadas por los linfocitos, macrófagos y queratinocitos
                regulan la respuesta inflamatoria e inmune.</div>
                <div>PH ácido del sudor y del estrato córneo. La actividad fungostática de la secreción sebácea.</div>
                <div>La Dermcidina (PAM) derivada de las glándulas sudoríparas écrinas
                activan los queratinocitos para que produzcan citoquinas importantes en
                la inmunidad cutánea.</div>
              </q-card-section>
            </q-card>
          </q-expansion-item>

          <q-expansion-item
            expand-separator
            icon="sunny"
            label="Protección UV"
            header-class="text-purple text-bold"
          >
            <q-card class="bg-purple-1">
              <q-card-section>
                <div>La síntesis de melanina por los melanocitos protegen al núcleo
                celular del queratinocito de los efectos perjudiciales de las radiaciones
                ultravioletas (UV) absorbiendo y dispersando los rayos y eliminando los
                radicales libres.</div>
                <div>Enzimas reparan el daño del ácido desoxirribonucleico (ADN).</div>
              </q-card-section>
            </q-card>
          </q-expansion-item>

          <q-expansion-item 
            icon="thermostat" 
            label="Regulación de la Temperatura"
            header-class="text-red text-bold"
            >
            <q-card class="bg-red-1">
              <q-card-section>
                <div>El control del flujo sanguineo de la piel por medio de la vasoconstricción
                y la vasodilatación transfieren el calor hacia la superficie cutánea.</div>
                <div>La evaporación del sudor enfría el cuerpo.</div>
              </q-card-section>
            </q-card>
          </q-expansion-item>

          <q-expansion-item 
            icon="fa-solid fa-d" 
            label="Síntesis de la Vitamina D"
            header-class="text-brown-9 text-bold"
            >
            <q-card class="bg-brown-1">
              <q-card-section>
                <div>La piel es la fuente primaria de vitamina D.</div>
                <div>La vitamina D es requerida para la absorción de calcio y posee
                un rol esencial en el metabolismo óseo, función neuromusuclar e
                inmunológica.</div>
              </q-card-section>
            </q-card>
          </q-expansion-item>

          <q-expansion-item 
            icon="back_hand" 
            label="Sensibilidad"
            header-class="text-teal text-bold"
            >
            <q-card class="bg-teal-1">
              <q-card-section>
                <div>Las terminaciones nerviosas libres detectan estímulos potencialmente
                perjudiciales (dolor, calor). Terminaciones especializadas detectan presión,
                vibración y tacto.</div>
                <div>Los nervios autónomos inervan vasos sanguíneos, las glándulas sudoríparas
                y el músculo erector del pelo.</div>
              </q-card-section>
            </q-card>
          </q-expansion-item>
        </q-list>
      </div>
    </div>
  </q-page>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "InfoPiel",
});
</script>

<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 650px

.bg-color
  background-color: #C3CCDC
  &:hover
    background-color: #D2D8E5

.max-width-700
  max-width: 700px
</style>