<template>
  <q-layout view="hHh Lpr lff">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title>
          
          Enrique Carbó
        </q-toolbar-title>

        <div>
        <span class="q-mr-md hidden-mobile">Especialista en Dermatología</span>        
        <q-icon name="img:img/logo2022v2.svg" color="secondary" size="40px" class="q-my-md hidden-mobile"/>
        </div>

      </q-toolbar>

      <q-toolbar class="bg-primary text-white">
        

        <q-space />

        <q-tabs v-model="tab" shrink stretch>
          <q-route-tab name="tab1" label="Inicio" to="/" exact/>
          <q-route-tab name="tab2" label="Curriculum" to="/curriculum" exact/>
          <q-route-tab name="tab3" label="Contacto" to="/contacto" exact/>
          <q-route-tab name="tab4" label="Info-Piel" to="/info-piel" exact/>
          
        </q-tabs>
      </q-toolbar>

    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      overlay
      bordered
      :width="210"
    >
      <q-list>
        <q-item-label
          header
        >
          Links Interes
        </q-item-label>

        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer class="bg-blue-grey-3">
      
      <div class="column text-center text-dark q-pa-sm">
        <div>Material solo con fines educativos. No es un consejo médico.</div>
        <div>Antes de tomar cualquier medicamento, suplemento o hierbas, 
        consulte a su médico para una evaluación adecuada.</div>
      </div>
      

      <q-separator/>

      <q-toolbar>
        <q-toolbar-title class="text-center text-dark q-my-lg">
          <q-avatar>
            <img src="img/logo2022v2.svg">
          </q-avatar>
          - Enrique Carbó - 2024
        </q-toolbar-title>
      </q-toolbar>

      
    </q-footer>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from 'vue'
import EssentialLink from 'components/EssentialLink.vue'

const linksList = [
  {
    title: 'Docs',
    caption: 'quasar.dev',
    icon: 'school',
    link: 'https://quasar.dev'
  },
  {
    title: 'Medico General',
    caption: 'Dr Enrique Carbó',
    icon: 'img:img/ec-logo300x300.png',
    link: 'https://www.medicogeneral.com.ar'
  },
  {
    title: 'Clinimetria',
    caption: 'Herramientas objetivas de medición',
    icon: 'fa-solid fa-briefcase-medical',
    link: 'https://ecarbo.gitlab.io/clinimetria/'
  },
  {
    title: 'Dermatitis Atópica',
    caption: 'Enfermedad Inflamatoria Crónica',
    icon: 'fa-solid fa-hand-dots',
    link: 'https://ecarbo.gitlab.io/atopica-pwa/#/'
  },
  {
    title: 'Alopecia Areata',
    caption: 'Parches de pérdida de pelos',
    icon: 'fa-solid fa-lines-leaning',
    link: 'https://enrique-carbo.github.io/alopecia-areata/'
  },
  
]

export default defineComponent({
  name: 'MainLayout',

  components: {
    EssentialLink
  },

  setup () {
    const leftDrawerOpen = ref(false)

    const tab = ref('tab1')

    const toggleLeftDrawer = () => {
        leftDrawerOpen.value = !leftDrawerOpen.value
    }
    
    return {
      essentialLinks: linksList,
      leftDrawerOpen,
      toggleLeftDrawer,
      tab
    }
  }
})
</script>
